
<div class="container-fluid d-flex justify-content-center align-items-center" id="home">
<div class="row">
        <h1 class="display-3 text-center text-light">DATABASE LISTS PROJECT</h1>
        <p class="p text-center">Now We Created The CRUD DATABASE Use HTML, CSS, JAVASCRIPT, Bootstrap, Node JS, Express, Mongoose & For Database We Will Use MongoDB</p>
    </div>
</div>